<ion-content fullscreen class="verify-content">
  <div class="create-header">
    <div class="title">Verify your Phone Number</div>
  </div>

  <div class="create-panel">
    <form (ngSubmit)="verify()" #form="ngForm" class="create-form">
      <ion-item>
        <ion-input
          class="create-input"
          type="text"
          name="code"
          placeholder="Enter code sent to your phone"
          required
          maxlength="6"
          [(ngModel)]="code">
        </ion-input>
      </ion-item>

      <ion-button
        class="create-actions"
        expand="block"
        type="submit"
        [disabled]="form.invalid">
        Next
      </ion-button>
    </form>
  </div>
</ion-content>
