<ion-content fullscreen class="phone-content">
  <div class="create-header">
    <div class="title">Enter your Phone Number</div>
  </div>

  <div class="create-panel">
    <form (ngSubmit)="sendCode()" #form="ngForm" class="create-form">
      <ion-item>
        <ion-input
          class="create-input"
          type="tel"
          name="phone"
          placeholder="+1 555-123-4567"
          required
          [(ngModel)]="phone">
        </ion-input>
      </ion-item>

      <ion-button
        class="create-actions"
        expand="block"
        type="submit"
        [disabled]="form.invalid">
        Next
      </ion-button>
    </form>
  </div>
</ion-content>
