<ion-content fullscreen class="login-content">
  <div class="login-header">
    <div class="logo-wrapper">
      <img src="assets/whisper-logo.svg" alt="Whisper logo" />
    </div>
    <h1 class="title">Sign in to your account</h1>
  </div>

  <div class="login-panel">
    <ion-item>
      <ion-input
        type="email"
        placeholder="Email"
        required
        [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        placeholder="Password"
        required
        [(ngModel)]="password">
      </ion-input>
    </ion-item>

    <ion-button expand="block" (click)="signIn()">
      SIGN IN
    </ion-button>

    <div class="forgot-link">
      <span>Forgot your password?</span>
      <a (click)="goToForgot()">Reset</a>
    </div>
  </div>
</ion-content>
